<div class="container main">
  <h1>My Profile Homepage</h1>
  <br>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-education-tab" data-bs-toggle="pill" data-bs-target="#pills-education" type="button" role="tab" aria-controls="pills-education" aria-selected="false">Education</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-experience-tab" data-bs-toggle="pill" data-bs-target="#pills-experience" type="button" role="tab" aria-controls="pills-experience" aria-selected="false">Work Experience</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-programs-tab" data-bs-toggle="pill" data-bs-target="#pills-programs" type="button" role="tab" aria-controls="pills-programs" aria-selected="true">My Programs</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-hobbies-tab" data-bs-toggle="pill" data-bs-target="#pills-hobbies" type="button" role="tab" aria-controls="pills-hobbies" aria-selected="true">Hobbies</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="profile d-flex p-2 mb-4 justify-content-between">
        <%= image_tag("foto.jpg", width: 400, height: 400) %>
        <p class="p-5">
          I´m a 42 year-old highly motivated <strong>Full Stack Web Developer</strong>. I consider myself a person with a high sense of responsibility,
          autonomous and proactive. I am a dedicated person who thrives on new challenges. My main goal is to change career and continue to
          improve my coding skills and keep on learning.
        </p>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-education" role="tabpanel" aria-labelledby="pills-education-tab">
      <div class="education d-inline-flex">
        <div class="lewagon">
          <%= image_tag("logolewagon.svg", width: 200, height: 200) %>
          <p>
            LE WAGON – WEB DEVELOPER BOOTCAMP
            BATCH 845 IBERIA WEB PT
            2022
            24-week part-time intensive coding bootcamp learning HTML,
            CSS, Bootstrap, JavaScript E6, SQL, git, GitHub, Heroku and Ruby
            on Rails.
          </p>
        </div>
        <div class="university">
          <%= image_tag("logolusofona.jpg", width: 200, height: 200) %>
          <p>
          LANGUAGES_____
          PORTUGUESE (native)
          ENGLISH
          LUSÓFONA UNIVERSITY OF HUMANITIES AND
          TECHNOLOGIES
          DEGREE IN MATHEMATICS
          2010-2015
          Theoretical, methodological and pratical foundations in the
          areas of computer science and applied mathematics.
          </p>
        </div>
        <div class="tap">
        <%= image_tag("logotap.svg", with: 200, height: 200) %>
          <p>
            TAP AIR PORTUGAL
            AIRCRAFT MAINTENANCE TECHNICIANS
            AB-INITIO – ELECTROMECHANICAL
            2002-2003
            Carry out fault detection, repair and testing of systems. Perform
            preventive and corrective maintenance on aircraft, repairing,
            replacing and regulating equipment or components of electrical
            and mechanical systems.
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-experience" role="tabpanel" aria-labelledby="pills-experience-tab">
      <%= image_tag("logotap.svg", with: 200, height: 200) %>
      <p>
        TAP PORTUGAL
        AIRCRAFT MAINTENANCE TECHNICIAN
        2003-Present – 18 years 10 months
        Work as a certified Part 66 B1.1 Aircraft Maintenance Technician
        with the role of component testing, maintenance and overhaul
        for ATA 28 and ATA 70 components.
        Specialized in overhauling VBV Hydraulic Gear Motor; VSV
        Actuators ; VBV Actuatores ; HPTACC Valves ; Transient Bleed
        Valve ; HPTC Valve ; Turbine Clearance Control
      </p>
    </div>
    <div class="tab-pane fade" id="pills-programs" role="tabpanel" aria-labelledby="pills-programs-tab">
      <p>
       Link 1 <br>
       Link 2 <br>
       Link 3 <br>
      </p>
    </div>
    <div class="tab-pane fade" id="pills-hobbies" role="tabpanel" aria-labelledby="pills-hobbies-tab">
      <p>
       Hobbies
      </p>
    </div>
  </div>
  <button type="button" class="btn btn-primary">
    <%= link_to '2 página', second_page_path, :class => "btn" %>
  </button>
</div>
